// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$primary: rgb(187, 134, 252);
$on-primary: rgb(255, 255, 255);
$primary-variant: rgb(55, 0, 179);

$secondary: rgb(3, 218, 198);
$secondary-variant: rgb(0, 135, 135);
$on-secondary: rgb(0, 0, 0);

$background: rgb(255, 255, 255);
$on-background: rgb(0, 0, 0);

$surface: rgb(255, 255, 255);
$on-surface: rgb(0, 0, 0);